/************************************************************************************************************
 * Predefined color constants which set up the color scheme for the application.

***************************************************************************************************************/

:root {
  --dark_grey: #282828;
  --darkest_grey: #1b1b1b;
  --light_grey: #818185;
  --mild_grey: #524c4b;
  --very_light: #ffffff;
}

