/************************************************************************************************************
 * Styling classes for changing visibility and display.

***************************************************************************************************************/

.invisibleElement{
  visibility: hidden;
}

.hideElement{
  display: none;
}

.disableElement{
  pointer-events: none;
}

.activeFlex{
  display: flex;
}

.activeBlock{
  display: block;
}